<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin: "*"
    Header always set Access-Control-Allow-Methos: "GET"
    Header always set Access-Conrtol-Allow-Headers: "api-key, content-type"
</IfModule>

Redirect 301 /my https://reisen.ontour.org/course/view.php?id=8&section=6