{{#footerall}}
    <footer id="footer" class="py-1 bg-inverse">
        <div class="footer-main">
            <div class="container" style="max-width: 1070px;">
			<div class="d-none d-sm-block">
                <div class="row">
				
					<div class="col-md-2">
					
					</div>
                    <div class="col-md-8">
                       
						
                        <div class="row">
						
						   <div class="col-md-2">

                            </div>
                            <div class="col-md-4">
                                <p class="footer-text">
								<p>
									
                                        <img src="/pix/theme/onTour.png">
                                   
								</p>	
							<p>								
								   onTour Media GmbH<br>
                                    Schönhauser Allee 36-39 (Kulturbrauerei)<br>
                                    10435 Berlin, Deutschland</p>
									<p>
									Copyright 2022 onTour Media GmbH
									</p>
                                </p>
                            </div>
                            <div class="col-md-4">
								<p style="padding-top:15px; font-size: 18px;"><span><strong>Über onTour</strong></span></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;" href="https://ontour.org/das-team">Über Uns</a></p>
                                <p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;" href="https://ontour.org/kontakt/">Kontakt</a></p>
                                <p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/impressum">Impressum</a></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/datenschutz">Datenschutz</a></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/agb">AGB</a></p>
                            </div>
                            <div class="col-md-2">

                            </div>
							
                        </div>
                        
                      
                    </div>
                    
                </div>
				</div>

				<div class="d-sm-none d-xl-none d-md-none d-lg-none">
	<div class="row">
				
					<div class="col-md-2">
					
					</div>
                    <div class="col-md-8">
                       
						
                        <div class="row">
						
						   <div class="col-md-2">

                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <p class="footer-text">
								<p>
									
                                        <img src="/pix/theme/onTour.png">
                                   
								</p>	
							<p>								
								   onTour Media GmbH<br>
                                    Schönhauser Allee 36-39 (Kulturbrauerei)<br>
                                    10435 Berlin, Deutschland</p>
									<p>
									Copyright 2022 onTour Media GmbH
									</p>
                                </p>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
								<p style="padding-top:15px; font-size: 18px;"><span><strong>Über onTour</strong></span></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;" href="https://ontour.org/das-team">Über Uns</a></p>
                                <p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;" href="https://ontour.org/kontakt/">Kontakt</a></p>
                                <p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/impressum">Impressum</a></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/datenschutz">Datenschutz</a></p>
								<p style="margin-bottom: 0.5rem;"><a style="color: #49AEDB; margin-bottom: 0.5rem;"href="https://ontour.org/agb">AGB</a></p>
                            </div>
                            <div class="col-md-2">

                            </div>
							
                        </div>
                        
                      
                    </div>
                    
                </div>

				</div>	

            </div>
        </div>
    </footer>
{{/footerall}}





<!--E.O.Footer-->

{{{ output.standard_footer_html }}}
{{{output.standard_end_of_body_html}}}

{{#js}}
    require(['theme_boost/loader']);
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}