body{
	
	font-size: 3 px;
font-family: "Times New Roman", Times, serif;
	
}

p{
    font-size: 12px;
}

hr{
	border-top: 1px solid #e4f1fa;
}

ol li{

	padding-bottom: 1em;
}


ul li{

	padding-bottom: 1em;
}

ul li ul{

	padding-top: 1em;

}

.button-native{
	color: #fff!important;
}


:host(.button-solid.ion-color) .button-native {
      color: #fff!important;
}


.button-solid.ion-color .button-native {
     color: #fff!important;
}



.item-dimmed{
 display:none!important;
}

.core-format-progress-list{
    display:none;
}

.core-button-selector-row{
    display:none!important;
}

.core-module-icon {
    --size: var(--module-icon-size);
    width: var(--size);
    height: var(--size);
    max-width: 15px;
    max-height: var(--size);
}

.in-toolbar {
  background-color: #fff!important;
  color: #2ea3f2!important;
  border-color: #49AEDB;
}

.in-toolbar h1{
  background-color: #fff!important;
  color: #2ea3f2!important;
  border-color: #49AEDB;
}

.toolbar-background{
  background-color: #49AEDB!important;
  color: #2ea3f2!important;
  border-color: #fff;
}

.ion-toolbar{
  background-color: #49AEDB!important;
  color: #2ea3f2!important;
  border-color: #fff;
}

.toolbar-container{
  background-color: #fff!important;
  color: #2ea3f2!important;
  border-color: #fff;
}

.ion-toolbar {
  --background: #fff!important;
  color: #49AEDB!important;
  border-color: #fff;
}

.in-toolbar {
  --background: #fff!important;
  color: #49AEDB!important;
  border-color: #fff;
}


.ion-header{
  --background: #fff!important;
  background-color: #fff!important;
  color: #49AEDB!important;
  border-49AEDB: #fff!important;
}

ion-header ion-toolbar {
  border-color: #fff!important;
}


.core-header-logo{
	max-width: 57%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff!important;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
	text-decoration: none;
}

.btn-ontour{
	background-color: #49AEDB;
	color: #fff!important;
	border-radius: 6px;
	text-decoration: none;

}

.btn-ontour:hover{
	background-color: #49AEDB;
	color: #fff!important;
	border-radius: 6px;
	text-decoration: none;
}

.btn-ontour a{
	background-color: #49AEDB;
	color: #fff!important;
	border-radius: 6px;
	text-decoration: none;
}

/*
section:nth-child(1) {
  display:none;
}
*/

.class_info{
	display:none!important;
}

.item-dimmed:first-of-type + item {
  color: red;
}

.item-dimmed + ion-item {
	display:none;
}


core-format-text[maxHeight].core-text-formatted.core-shortened, core-format-text[ng-reflect-max-height].core-text-formatted.core-shortened {
    overflow: hidden;
    min-height: 50px;
    max-height: 1585px!important;
}

.md ion-label .item-heading{
	font-size: 14px!important;
}

.sc-ion-label-md-h{
	margin: 0!important;
}

.core-course-progress{
	margin-top: -21px;
}

.mainmenu-tabs{
	background-color: #444!important;
}

.core-course-thumb{
	padding-top: 95%!important;
}

.toolbar-background {
	background-color: #fff!important;
color: #444;
}

in-toolbar {
	background-color: #fff!important;
color: #444;
}

.ion-color-medium{
	background-color: #da0a0a !important;
	color: #da0a0a!important;
    width: 20px;
    border-radius: 25px;

}

.ion-color-success{
   

    background-color: #6fc544 !important;
}

.ng-tns-c326-24{
	display:none;
}

.core-course-header{
  display:none!important;
}

.core-course-progress{
  display:none;
}



core-course-module-completion .core-module-automatic-completion-conditions .ion-color-medium strong{
  display: none!important;
}


.core-show-more{
display:none!important;
}



.core-format-text-content p{
  padding-top: 14px;
  font-size: 30px!important;
}
.sc-ion-label-md-s p{

  line-height: 30px!important;
}

.core-tabs-content-container .selected .core-loading-loaded .ng-trigger .ng-star-inserted .ion-text-wrap .sc-ion-label-md-h{
  display: none!important;
}

.core-tabs-content-container .selected .core-loading-loaded .ng-trigger .ng-star-inserted .ng-star-inserted .ion-align-items-center .ng-star-inserted .button-solid{
  margin-left: -188px;
}

.addon-mod_feedback-item p {
    font-size: 20px;
    font-weight: 600;
}

.native-textarea{
  border: 1px #2e2e2e solid!important;
}

.native-textarea.sc-ion-textarea-md{
  border: 1px #2e2e2e solid!important;
}

.core-tabs-content-container .selected .core-loading-loaded .ng-trigger .ng-star-inserted .ng-star-inserted .ion-align-items-center .hydrated .button-outline{
  display:none!important;
  
}



.mainmenu-tabs{
	 display:none!important;
}

.button-inner {
    color: #fff!important;
	font-weight: 600!important;
}

section:nth-child(4) ion-item-divider {
    display: none;
}


section:nth-child(5) ion-item-divider {
    display: none;
}

.testclass{
	font-size: 100px;
}

